.side-dialog {
    animation: fadeIn 500ms cubic-bezier(0.25, 0.8, 0.25, 1);

    .mdc-dialog__surface {
        box-shadow: none !important;
    }

    .mat-mdc-dialog-surface.mdc-dialog__surface {
        border-radius: 0 !important;
        padding: 0px !important;

        .mat-mdc-dialog-component-host {
            .mat-mdc-dialog-title {
                height: 56px !important;
                display: flex !important;
                align-items: center !important;
                padding: 0px 4px 0px 16px !important;
            }

        }
    }

    .mat-mdc-dialog-content.mdc-dialog__content {
        padding: 16px !important;
    }

    .mat-mdc-dialog-actions.mdc-dialog__actions {
        justify-content: end;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
