<div class="w-64 shadow-xl min-h-screen p-2 border-r-2">
    <ul class="space-y-4">

        <li class="p-2 rounded cursor-pointer flex flex-row gap-x-2 text-slate-800 items-center" [routerLink]="['/home']" routerLinkActive="text-white bg-gradient-to-r from-blue-800 to-blue-700/90"
            [routerLinkActiveOptions]="{exact: true}">
            <mat-icon svgIcon="mdi:home-outline" />
            <a class="block">Home</a>
        </li>

        <li class="p-2 rounded cursor-pointer flex flex-row gap-x-2 text-slate-800 items-center" [routerLink]="['/dashboard']" routerLinkActive="text-white bg-gradient-to-r from-blue-800 to-blue-700/90"
            [routerLinkActiveOptions]="{exact: true}">
            <mat-icon svgIcon="mdi:view-dashboard-outline" />
            <a class="block">Dashboard</a>
        </li>

        <li class="p-2 rounded cursor-pointer flex flex-row gap-x-2 text-slate-800 items-center" [routerLink]="['/profile']" routerLinkActive="text-white bg-gradient-to-r from-blue-300 to-blue-500/90"
            [routerLinkActiveOptions]="{exact: true}">
            <mat-icon svgIcon="mdi:account-circle-outline" />
            <a class="block">Profile</a>
        </li>

    </ul>
</div>
