<div class="flex flex-col items-center justify-center min-h-screen bg-gray-200">

    <!-- Logo -->
    <div class="flex flex-row items-center mb-6 gap-x-4 cursor-pointer" [routerLink]="['/']">
        <img src="/images/gic_logo.png" class="h-14" />
        <h1 class="text-3xl font-semibold">EduFunApp</h1>
    </div>

    <div class="w-full bg-white rounded-3xl shadow md:mt-0 sm:max-w-md xl:p-0">

        <!-- Register & OTP Section -->
        <ng-container *ngIf="!isVerified; else resetPassword">

            <ng-container *ngIf="!isOTP; else otp">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <!-- Title -->
                    <h2 class="text-center text-3xl py-4 font-bold text-gray-900">
                        Create an account
                    </h2>

                    <!-- Form -->
                    <form class="space-y-10" [formGroup]="form" (ngSubmit)="onResetOTP()">
                        <!-- Email -->
                        <div>
                            <input type="email" name="email" id="email" formControlName="email"
                                class="bg-gray-50 p-4 border border-gray-300 text-gray-900 text-base rounded-lg focus:outline-none block w-full"
                                placeholder="Email *">
                            <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)"
                                class="text-red-500 text-sm mt-1">
                                <span *ngIf="form.get('email')?.errors?.['required']">Email is required</span>
                                <span *ngIf="form.get('email')?.errors?.['email']">Invalid email format</span>
                            </div>
                        </div>

                        <!-- Sign Up -->
                        <button type="submit" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            <span *ngIf="!isLoading"> Send OTP </span>
                            <mat-progress-spinner *ngIf=" isLoading " [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                        </button>

                        <p class="text-sm text-center font-light text-gray-500 dark:text-gray-400">
                            Want to login to an account?
                            <a [routerLink]="['/auth/sign-in']" class="font-medium text-primary-600 hover:underline dark:text-primary-500">
                                Login here
                            </a>
                        </p>
                    </form>
                </div>
            </ng-container>

            <!-- OTP Section -->
            <ng-template #otp>
                <reset-otp [email]="email" (verifyOTP)="otpIsVerified($event)"/>
            </ng-template>

        </ng-container>

        <!-- Reset Password Section -->
        <ng-template #resetPassword>
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

                <!-- Title -->
                <h2 class="text-center text-3xl py-4 font-bold text-gray-900">
                    Reset Password
                </h2>

                <!-- Form -->
                <form class="space-y-4 md:space-y-6" [formGroup]="resetForm" (ngSubmit)="onResetPassword()">
                    <!-- Password -->
                    <div>
                        <input type="password" name="password" id="password" placeholder="Password *" formControlName="password"
                            class="bg-gray-50 p-4 border border-gray-300 text-gray-900 text-base rounded-lg focus:outline-none block w-full"
                            required>
                        <div *ngIf="resetForm.get('password')?.invalid && (resetForm.get('password')?.dirty || resetForm.get('password')?.touched)"
                            class="text-red-500 text-sm mt-1">
                            <span *ngIf="resetForm.get('password')?.errors?.['required']">Password is required</span>
                        </div>
                    </div>

                    <!-- Confirm Password -->
                    <div>
                        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password *" formControlName="confirm_password"
                            class="bg-gray-50 p-4 border border-gray-300 text-gray-900 text-base rounded-lg focus:outline-none block w-full"
                            required />
                        <div *ngIf="resetForm.get('confirm_password')?.invalid && (resetForm.get('confirm_password')?.dirty || resetForm.get('confirm_password')?.touched)"
                            class="text-red-500 text-sm mt-1">
                            <span *ngIf="resetForm.get('confirm_password')?.errors?.['required']">Confirm Password is required</span>
                        </div>
                    </div>

                    <!-- Submit -->
                    <button type="submit" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <span *ngIf="!isLoading"> Submit </span>
                        <mat-progress-spinner *ngIf=" isLoading " [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>
                </form>
            </div>
        </ng-template>


    </div>

</div>
