<mat-toolbar class="text-white border-b-2">
    <mat-toolbar-row class="justify-between items-center w-full">
        <div class="flex flex-row items-center gap-x-4">
            <h1 class="text-3xl font-semibold">EduFunApp</h1>
        </div>

        <!-- Profile and Logout with a dropdown menu -->
        <div class="flex flex-row items-center gap-x-2 ml-auto">
            <!-- <button mat-flat-button color="primary" (click)="createRoom()">Create</button> -->

            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon svgIcon="mdi:account-circle-outline" />
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/profile']">
                    <mat-icon svgIcon="mdi:account-circle-outline" />
                    <span>Account</span>
                </button>
                <button mat-menu-item (click)="logout()">
                    <mat-icon svgIcon="mdi:logout" />
                    <span>Log out</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

