<div class="flex h-screen overflow-hidden flex-col">
    <!-- Header component -->
    <app-header></app-header>

    <!-- Main container for sidebar and content -->
    <div class="flex w-full">
        <!-- Sidebar component -->
        <div class="w-1/7 text-white">
            <app-sidebar></app-sidebar>
        </div>

        <!-- Main content area -->
        <div class="flex-1 overflow-y-auto p-10">
            <router-outlet *ngIf="true"></router-outlet>
        </div>
    </div>
</div>
