<div class="p-8 space-y-5">

    <!-- Header -->
    <div class="flex flex-col justify-center items-center">
        <span class="text-3xl text-center leading-6 font-semibold">
            <div class="flex flex-col font-normal gap-4">
                <!-- Title -->
                <h2 class="text-center text-3xl pt-4 font-bold text-gray-900">
                    Verify OTP
                </h2>
                <span class="text-xl"> {{ email || 'test@gmail.com' }} </span>
            </div>
        </span>
    </div>

    <!-- OTP -->
    <div class="w-full flex flex-grow flex-col justify-center py-10">
        <div class="w-full flex justify-between">
            <input class="custom-input" #input1 [(ngModel)]="numStr1" (keydown)="keyDownHandler1($event)"
                [maxlength]="1" />
            <input class="custom-input" #input2 [(ngModel)]="numStr2" (keydown)="keyDownHandler2($event)"
                [maxlength]="1" />
            <input class="custom-input" #input3 [(ngModel)]="numStr3" (keydown)="keyDownHandler3($event)"
                [maxlength]="1" />
            <input class="custom-input" #input4 [(ngModel)]="numStr4" (keydown)="keyDownHandler4($event)"
                [maxlength]="1" />
            <input class="custom-input" #input5 [(ngModel)]="numStr5" (keydown)="keyDownHandler5($event)"
                [maxlength]="1" />
            <input class="custom-input" #input6 [(ngModel)]="numStr6" (keydown)="keyDownHandler6($event)"
                [maxlength]="1" />
        </div>
    </div>

    <!-- Action -->
    <div class="w-full flex flex-col gap-2 justify-end">

        <div class="flex justify-between font-medium">
            <p class="text-base text-blue-500"> Timer {{ formatTime(remainingTime) }} </p>
            <p class="text-base underline cursor-pointer" (click)="resendOtp()">
                Resend OTP
            </p>
        </div>

        <!-- Submit Button -->
        <button class="helper-mat-button-lg w-full" mat-flat-button color="primary"
            [disabled]="!canSubmit || isLoading" (click)="verify()">
            <span *ngIf=" !isLoading "> Verify OTP</span>
            <mat-progress-spinner *ngIf=" isLoading " [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
        </button>

    </div>

</div>

